




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* header */

.nav{
    background: linear-gradient(0deg, rgba(70,141,215,1) 50%, rgba(70,230,217,1) 100%);
    height: 100px;
    width: auto;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: flex-start;
}

.nav__logo{
    display: flex;
    flex-direction: column;
    padding: 2px;
    justify-content: center;
    align-items: center;
}

.nav__lista{
    display: flex;
    list-style: none;
    gap: 100px;
    align-items: center;
    
}

.lista__link{
    
    color: white;
    font-size: 20px;

    
    
}


.nav__img{
    height: 60px;
    width: 60px;
    padding: 0;
}


.titulologo{
    font-size: 10px;
    color: white;
}


/* main */

/* portada */


main{
    background-color:rgba(70,141,215,1) ;
}

.portada{
    padding:0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    

}

.portada{
    background-image: url(./imagenes/portada.png) ;
    
    background-repeat: no-repeat;
    background-size: cover;
    
    width: 100%;
    height: 850px;
}

.container{
    display: flex;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}


.container-button{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    padding: 50px;

}


.button{
    width: 120px;
    height: 40px;
    background-color: rgb(133, 93, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
    padding: 20px 100px;
    border: 20px;
    border-radius: 10px;
    
}


#botonp{
    color: rgb(255, 255, 255);
}


.container-form{
    background-color: rgb(133, 93, 19);
    width: 800px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items:center ;
    border-radius: 20px;
    
}

.container-form p{
    color: white;
}




/* section galeria */

.galeria {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction:column; 
    align-items: center;
    padding: 20px 20px;
    border: 20px;
    background-color: rgba(70,141,215,1);
}

.galeriafotos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}


.fotos img{
    position: relative;
    height: 300px;
    width:  300px;
    border: 10px;
    padding: 5px;
    box-shadow: 0 10px 20px ;
    transition: all 300ms;
    gap: 40px;
}



.fotos img:hover{
    transform: scale(1.3);
    z-index: 2;
}


.galeria__titulo{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: rgba(70, 141, 215,1);
}



h2{
    font-size: 30px;
    color: rgb(186,225,252);

}


/* section servicios */


.servicios__container{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;

    


}

.servicios__img{
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: solid rgb(85, 82, 82);
    
}

.titulo__servicios{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicios{
    width: 300px;
    height: 300px;
    padding: 10px ;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.servicios__p{
   width: 200px;
   height: 100px;
   margin-top: 10px;
  font-size: 20px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  text-align: center;
  
  
}



 /* section sobre nosotros */


 #sobrenosotros{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
 }

 .sobrenosotros__h2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

 }

 .sobrenosotros__p{
    width: 100%;
    height: auto;
    margin: 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
 }



.sobrenosotros__p p{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 30px 200px;
    font-size: 25px;
    font-weight: 400;

}

main{
    padding:  0 10%;
}



#contacto{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.contacto__info{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;

   

}

.contacto__info-mapa{
    width: 400px;
    height: 300px;


}

.titulo{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: 50px;
}

.contacto__info-form{
    width: 500px;
    height: 500px;
    margin: 10px;
}

.titulo_form{
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
}


.form{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    align-content: center;
    gap: 10px;
}
.contacto__redes{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.redes_img{
    width: 50px;
    height: 50px;
}

.redes_p{
    height: 100px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* section footer */

.footer{
    width: 100%;
    height: 100px;
    padding: 0 10%;
    background: linear-gradient(0deg, rgba(70,141,215,1) 20%, rgb(117, 172, 231) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.footer_link{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(16, 16, 107);
}

/* registro */

.registro{
    width: 100%;
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


}

.registro h2{
    width: 100%;
    height: 50px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center ;
}


  
.formulario{
    border: solid 2px;
    border-radius: 15px;
    padding: 5px;
    color: rgb(32, 32, 129);
}


.registro__form{
    padding: 10px;
}

.registro__form-boton{
    padding: 15px;
    display: flex;
    justify-content: center;
   }


.registro__form-boton button{
    background-color:  rgb(134, 218, 243);
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border-color: blue;
    color: blue;

}


.registro__form-boton button:hover{
    color: rgb(207, 94, 130);
    border-color: rgb(207, 94,130);

}




/* ingreso */

.ingreso{
    width: 100%;
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
}

.ingreso h2{
   width: 100%;
   height: 50px;
   margin: 20px;
   display: flex;
   justify-content: center;
   align-items: center ;
}


.ingreso__form{
    border: solid 2px;
border-radius: 15px;
padding: 5px;
color: rgb(32, 32, 129);

}

.form{
    padding: 10px;
}

.ingreso__form-boton{
    padding: 10px;
display: flex;
justify-content: center;
}


.ingreso__form-boton {
    background-color:  rgb(134, 218, 243);
width: 150px;
height: 50px;
font-size: 20px;
border-radius: 10px;
border-color: blue;
color: blue;
}

.ingreso__form-boton:hover{
    color: rgb(207, 94, 130);
border-color: rgb(207, 94,130);
}