*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* header */

.nav{
    background: linear-gradient(0deg, rgba(70,141,215,1) 50%, rgba(70,230,217,1) 100%);
    height: 100px;
    width: auto;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: flex-start;
}

.nav__logo{
    display: flex;
    flex-direction: column;
    padding: 2px;
    justify-content: center;
    align-items: center;
}

.nav__lista{
    display: flex;
    list-style: none;
    gap: 100px;
    align-items: center;
    
}

.lista__link{
    color: rgb(7, 48, 83);
    color: white ;
    font-size: 20px;

    
    
}


.nav__img{
    height: 60px;
    width: 60px;
    padding: 0;
}


.titulologo{
    font-size: 10px;
    color: white;
}


/* main */

/* portada */

.portada{
    padding:0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    

}

.portada{
    background-image: url(./imagenes/portada.png) ;
    
    background-repeat: no-repeat;
    background-size: cover;
    
    width: 100%;
    height: 850px;
}

.container{
    display: flex;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}


.container-button{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    padding: 50px;

}


.button{
    width: 120px;
    height: 40px;
    background-color: rgb(133, 93, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
    padding: 20px 100px;
    border: 20px;
    border-radius: 10px;
    
}


#botonp{
    color: rgb(255, 255, 255);
}


.container-form{
    background-color: rgb(133, 93, 19);
    width: 600px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items:center ;
    border-radius: 20px;
    
}

.container-form p{
    color: white;
}




/* section galeria */

.galeria {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction:column; 
    align-items: center;
    padding: 20px 20px;
    border: 20px;
    background-color: rgba(70,141,215,1);
}

.galeriafotos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}


.fotos img{
    position: relative;
    height: 300px;
    width:  300px;
    border: 30px;
    padding: 40px;
    box-shadow: 0 10px 20px ;
    transition: all 300ms;
    gap: 20px;
}



.fotos img:hover{
    transform: scale(1.2);
}


.galeria__titulo{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: rgb(186, 225, 252);

}

.galeria__titulo h2{
    font-size: 30px;
    color:rgba(70, 141, 215,1);

}